<carousel>
  <slide>
    <img src="./assets/images/instalaciones.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Instalaciones</h3>
      <p>Nuestros centros de atención son altamente especializados</p>
    </div>
  </slide>
  <slide>
    <img src="./assets/images/operacion.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Cuidado clínico</h3>
      <p>Les brindamos el mejor servicio al alcance de su bolsillo</p>
    </div>
  </slide>
  <slide>
    <img src="./assets/images/joey.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Contamos con los mejores médicos</h3>
      <p>Ganadores de premios internacionales</p>
    </div>
  </slide>
  <slide>
    <img src="./assets/images/piel.jpg" alt="four slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Calidad de servicio</h3>
      <p>La piel más sana el cuidado más intenso</p>
    </div>
  </slide>
</carousel>