<div *ngIf='showValue'>
    <li><img src='./assets/images/tache.png'(click)='Ocultar()'></li>

<li>
    <img src='./assets/images/carpetaicon.png'>
    <a href="#"
    routerLink ='/citas'>Citas pendientes</a>
</li>
<li>
    <img src='./assets/images/carpetaicon.png'>
    <a href="#"
    routerLink = '/tablaexpedientes'>Expedientes</a>
</li>
<li>
    <img src='./assets/images/carpetaicon.png'>
    <a href="#"
    routerLink = '/cita'>Agendar cita</a>
</li>


</div>
<button type="button" class="btn btn-success" *ngIf='!showValue'
(click)='Ocultar()'>Mostrar</button>
