<div class='row'>
    <div class='col-sm-3' style="background-color: #052538; height: 900px; ">
            <div style="background-color: azure;">
                <p style="color: black;">Usuario_Farmacia <img src='./assets/images/user.png' class='img-icon'> </p>
            </div>
            <div style="padding-left: 35px;">
                <pm-calendario></pm-calendario>
                <div style="padding-left: 30px;">
                    <button type="button" class='btn-success'>Nueva venta</button>
                    <button type="button" class='btn-warning'>Historial de venta</button>
                </div>
            </div>
    </div>
    <div class='col-sm-8' style="background-color: azure;">
        <h1 style="text-align: center;">Farmacia</h1>
        Medicamento: <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style='width: 600px;'>
        <button class="btn btn-outline-success" type="submit">Search</button>
        
        <table class='table table-dark'>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Precio</td>
                <td>Caducidad</td>
                <td>En existencia</td>
            </tr>
            <tbody>
                <tr class='table-active'>
                    <td>000</td>
                    <td>Crema humectante</td>
                    <td>$100</td>
                    <td>11/12/2020</td>
                    <td>2</td>
                </tr>
                <tr class='table-active'>
                    <td>001</td>
                    <td>Crema para irritación</td>
                    <td>$200</td>
                    <td>01/03/2021</td>
                    <td>3</td>
                </tr>
                <tr class='table-active'>
                    <td>002</td>
                    <td>Crema humectante</td>
                    <td>$100</td>
                    <td>23/04/2021</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class='button btn-danger'>Medicamento próximo a caducar</button>
        <button type ='button' class='button btn-success' (click)='Agregar()'>Agregar Medicamento</button>
        <div *ngIf='agregarMedicamento' style="height: 120px;"><h3>Agregar al almacén</h3></div>
        <div *ngIf='agregarMedicamento' style=" width: 500px;background-color: #052538;">
            <div class='row'>
                <div class='col-sm-3'>
                    <p style="padding-top: 50px;">Medicamento: </p>
                    <p>Precio: </p>
                    <p>Fecha de Caducidad: </p>
                    <p>Cantidad adquirida del medicamento:</p>
                </div>
                <div class='col-sm-1'>
                    <p style="padding-top: 50px;"><input></p>
                    <p><input></p>
                    <p><input></p>
                    <p style="padding-top: 50px;"><input></p>
                    <p style="padding-top: 50px;"></p>
                    <p><button class="button btn-success">Agregar</button></p>
                </div>
            </div>
        </div>
    </div>
</div>