.div-Horarios{
    width: 300px;
    align-items: center;
    border: 5px ;
    

}
.button-acept{
    align-self: center;
    width: auto;
    
    
}
h4{
    color: azure;
    padding: 25px;
}
.div-container{ 
    background-color:#6bc2f5;
     height: 800px;
}
.div-inside{
    border: 10px solid rgb(14, 75, 75);
     background-color: rgb(55, 55, 56);
     height: 500px;
     
}
button{
    color: azure;
}
input{
    max-width: 300px;
    border: 3px solid pink;
}