<div class='row'>
    <div class='col-sm-1'>
        
    </div>
    <div class='col-sm-10'>
        <pm-carousel>
    
        </pm-carousel>
    </div>
    <div class='col-sm-1'>
        
    </div>
    <h1>Prueba</h1>
</div>
<div class='row'>
    <div class='col-sm-1'>

    </div>
    <div class='col-sm-10'>
        <table class='table table-dark'>
            
           <tbody> 
                <tr class='table-active'>
                    <td>Crema1</td>
                    <td>Crema2</td>
                    <td>Crema3</td>
                </tr>
                <tr>
                    <td><img src='./assets/images/crema1.jpg'></td>
                    <td><img src='./assets/images/crema2.jpg'></td>
                    <td><img src='./assets/images/crema3.jfif'></td>
                </tr>
                <tr class='table-active'>
                    <td>$12.99</td>
                    <td>$12.99</td>
                    <td>$12.99</td>

                </tr>
                <tr class='table-active'>
                    <td>Medicina1</td>
                    <td>Medicina2</td>
                    <td>Medicina3</td>
                </tr>
                <tr>
                    <td><img src='./assets/images/medicamento1.jfif'></td>
                    <td><img src='./assets/images/medicamento2.jpg'></td>
                    <td><img src='./assets/images/medicamento3.jpg'></td>
                </tr>
                <tr class='table-active'>
                    <td>$14.99</td>
                    <td>$14.99</td>
                    <td>$14.99</td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class='col-sm-1'>

    </div>
</div>