<div class='row'>
    <div class='col-sm-2'>
        <pm-sidebar-medico></pm-sidebar-medico>
    </div>
    <div class='col-sm-4'>
        <pm-calendario></pm-calendario>
    </div>
    <div class='col-sm-2'>
        <table class='table table-dark'>
            <tr>
                    <td colspan="2">Miércoles 27 oct. 2020</td>
            </tr>
            <tbody>
                <tr>
                    <td>Cita1</td>
                    <td>Cita2</td>
                    <td>Cita3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>