.div-formulario{
    width: 300px; 
    text-align: center;
    height: 550px;
    color: rgb(213, 230, 230);
    border: 10px solid rgb(14, 75, 75);
    /* background-color: rgb(228, 202, 215); */
    background-color: rgb(45, 45, 46);/* rgb(91, 59, 121); */
    
}
.input-validator{
    width: 250px;
    align-self: center;
}
img{
    align-self: center;
    max-width: 250px;
}
a{
    text-align: center;
    padding: 5px;
}
button{
    width: 200px;
    align-self: center;
}
.alert-md-local{
    background-color: #009688;
    border-color: #00695C;
    color: #fff;
    width: 500px;
    max-height: 50px;
    color: #00695C;
}
.alert-md-color {
    background-color: #7B1FA2;
    border-color: #4A148C;
    color: #fff;
  }
  .span-invalid{
      color: red;
  }